    .navbar-brand {
    color: rgb(68, 191, 240) !important;
    font-size: 25px;
    font-weight: bold;
  
   
}


.nav-item {
    
    color:rgb(68, 191, 240);
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
 
}

.nav-item a:hover {
    color: rgb(68, 191, 240) !important;
    text-decoration: underline;
}

/* carousel */
.carousel-caption h1 {
    color: white;
    position: relative;
    right: 20rem;
    bottom: 16rem;
    font-size: 1.8cm;
    font-weight: bolder;

}

.welcome {
    color: rgb(68, 191, 240);
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    right: 36rem;
    bottom: 16rem;
}

.btnfind{
    border: 4px white !important;
text-decoration: none;
    position: relative;
    left: 14rem;
    bottom: 12rem;
    font-size: 0.6cm;
    border-radius: 50px;
    padding: 20px;
    font-weight: bold;
    background-color: white;
}
.btnfind:hover{
    background-color:rgb(68, 191, 240);
}

/* about us */
.operation{
    height: 1000px;
    width: 500px;
}
.aboutus h5 {
    color: rgb(68, 191, 240);
 position: relative;
    left: 32rem;
    bottom: 62rem;
    font-weight: bold;
    text-decoration: underline;
}

.aboutus h1 {
    position: relative;
    left: 32rem;
    bottom: 62rem;
    font-size: 1.5cm;
    font-weight: bold;
}

.aboutus p {
    position: relative;
    left: 32rem;
    bottom: 61rem;
    font-weight: bold;
}

.img {
    position: relative;
    left: 32rem;
    bottom: 61rem;
}
/* services */
.services{
    text-align: right;
    position: relative; 
    bottom: 53rem;
    right: 38rem;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(68, 191, 240) ;
}
.cimg1,.cimg2,.cimg3{

/* padding: 52px; */
height: 50px;
/* transform: rotate(-20deg); */
background-color:rgb(68, 191, 240) ;


}
.adi{
   height: 305px;
   
    position:relative ;
    bottom: 48rem;
}
/* 2nd card */
.adi1{
position: relative;
bottom: 44rem;
}
/* footer */
.adi2{
    width: 100vw;
   position: relative;
   bottom: 42rem;
   background-color: rgb(68, 191, 240);
}
.foot{
    width: 100vw;
    margin-top: 25rem;
    position: relative; 
    bottom: 64rem;
    height: 550px;
    background-color: rgb(68, 191, 240);
}
.appointment{
    position: relative;
    top: 5rem;
    left: 2rem;
    text-decoration: underline;
    color: white;
    
}
.family{
    position: relative;
    top: 5rem;
    left: 2rem;
    font-size: 1.3cm;
    font-weight: bold;
    
}
.lorem{
    position: relative;
    top: 5rem;
    left: 2rem;
}
.button2,.button3{
    height: 60px;
    width: 150px;
    position: relative;
    top: 7rem;
    left: 2rem;
    padding-bottom: 5px;
    font-weight: bold;
    
    border-radius: 36px;
    
}
.button2,.button3:hover{
    background-color: black;
    color: white;
}
/* search bar */
.book{
    height: 400px;
    width: 550px;
    background-color: aqua;
    position: relative;
    left: 42rem;
    bottom: 15rem;
    border-radius: 10px;
}
/* form */


#yname{
   height: 60px;
   width: 250px;
    margin-top:30px; margin-left: 10px; border-radius: 6px;
    margin-right: 4px;
}
#email{
    height: 60px;
    width: 250px;
     margin-top:30px; margin-left: 10px; border-radius: 6px;
     margin-right: 4px;
}
#date{ 
    height: 60px;
    width: 250px;
    
    margin-top:30px; margin-left: 10px; border-radius: 6px;
    margin-right: 4px;
}
#time{
    height: 60px;
    width: 250px;
    
    margin-top:30px; margin-left: 10px; border-radius: 6px;
    margin-right: 4px;
}



/* .card img{

    height: 10vh;
    width: 10vh;
    margin: auto;
    padding: 5rem;
} */


.icard{
height: 100px;
width: 100px;
border-radius: 100px;

background-color:rgb(68, 191, 240);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

/* Medical Program */
 .medprog{
    color: rgb(68, 191, 240);
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    bottom: 56rem;
}
.awesome{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 55rem;
    font-size: 1.2cm;
    font-weight: bold;
}


.foot2{
   background-color: blueviolet;
}

.owl{
    height: 70vh;
width: 100vw;
   background-color: blueviolet;
   position: relative;
   bottom: 50rem;
}
/* Qualified Doctors */
.doc{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 43rem;
    font-weight: bold;
    color: rgb(68, 191, 240);
}
.Qualified{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 42rem;
    font-weight: bold;
}
.owl2{
    height: 70vh;
width: 100vw;
   background-color: blueviolet;
   position: relative;
   bottom: 38rem;
}

/* Find A Healthcare Professionals */
.foot3{
    height: 70vh;
    width: 100vw;
       background-color: rgb(68, 191, 240);
       position: relative;
       bottom: 30rem;
       

}
.search{
    height: 60px;
    width: 150px;
    position:relative;left:22rem;
    top: 0px;
    border-radius:10px;
    background-color: black;
    color: white;
    font-size: 15px;
}

/* TESTIMONIAL Sections */
.testimonial{
    text-align: center;
    position: relative;
    bottom: 25rem;
  font-weight: bold;
  
    color: rgb(68, 191, 240);
}
.patientssay{
    text-align: center;
    
    position: relative;
    bottom: 23rem;
  font-weight: bold;
    color: black;
}
.feedbackcarousel{
    height: 70vh;
    
    background-color: bisque;
   position: relative;
   bottom: 21rem;
}
.feedback{
 height: 200px;
 width: 200px;
 position: relative;
 left: 39%;
 margin-top: 10px;
   
}

/* Blog Post */

.blogpost{
   
    position: relative;
    bottom: 10rem;
}   



.post img{
    height: 250px;
    width: 335px;
}
.post h3{
    
   
}
.post p{
  
    
}
.john img{
 height: 30px;
 width: 30px;
 border-radius: 50%;
  
  
}
.john i{
    position: relative;
    left: 5rem;
    color: rgb(68, 191, 240);
}

/* end part */

.end{
    height: 70vh;
    width: 100vw;
    background-color: rgb(10, 6, 49);
    position: relative;
    bottom: 80px;
}
.lastheading{

    color:rgb(68, 191, 240) ;
    font-weight: bold;
    position: relative;
    top: 5rem;
    left: 20px;
    text-decoration:underline;
}
.lpara{
    color: white;
    position: relative;
    top: 7rem;
    left: 20px;
}
.lasticon{
    color:rgb(68, 191, 240);
    position: relative;
    top: 8rem;
    left: 20px;
}

.quickspan{
    color: white;
    
    position: relative;
    top: 7rem;
    left: 14px;
    font-size: 20px;
}

.newsmail{
    height: 50px;
    position: relative;
    top: 7rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.newsbutt{
    height: 53px;
    width: 80px;
    position: relative;
    top: 110px;
    right: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color:rgb(68, 191, 240) ;
    color: white;
    font-weight: bold;
}
.newsbutt:hover{
    color: black;
}
